/*common component*/
html,body{
    height:100%;
}
.lead{
    font-weight: normal;
}
/*common component*/
/*index*/
.jumbotron {
    background-image: url("image/tennisplayer.jpg");
    background-size: cover;
    height: 620px;  
  }
/*index*/



/*results starts*/
  #main-content{
      text-align: center;
  }
/*results ends*/


/*stats starts*/
/*stats ends*/


/*single match starts*/
#match-stats{
    height: 60px;
}
#single-match-title{
    height: 80px;
}
/*single match ends*/


/*players stars*/
/*players ends*/

/*player profile starts*/
#player-profile-row{
    height: 300px;
    font-size: 20px;
}
#tennis-player{
    max-width: 100%;
    max-height: 100%;
}
/*player profile ends*/

@media only screen and (max-width: 500px) {
    #player-profile-row{
        height: auto;
        font-size: 16px;
    }
}